#rect2 {
	animation-name: animation1;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
}

@keyframes animation1 {
	0% { opacity: 0; background-color: #ff0000; }
	20% { opacity: 1; }
	80% { opacity: 1; }
	100% { opacity: 0; background-color: #ff00ff; }
}

