main.svelte-10ypru7.svelte-10ypru7{position:absolute;box-sizing:border-box;padding:0;margin:0;width:100%;height:100%;overflow:hidden}#ui.svelte-10ypru7.svelte-10ypru7{position:absolute;box-sizing:border-box;padding:0;margin:0;width:100%;height:100%}#preview.svelte-10ypru7.svelte-10ypru7{position:absolute;box-sizing:border-box;padding:0;margin:0;width:auto;left:0;right:300px;height:100%;overflow:auto;background-color:#cccccc}#timeline.svelte-10ypru7.svelte-10ypru7{position:absolute;box-sizing:border-box;padding:10px;margin:0;width:100%;height:74px;top:auto;bottom:0;background-color:#ffffff}.time.svelte-10ypru7.svelte-10ypru7{font-family:monospace}#size_info.svelte-10ypru7.svelte-10ypru7{position:absolute;box-sizing:border-box;margin:0;width:100%;height:74px;background-color:#ffffff;padding:10px}#resize_area.svelte-10ypru7.svelte-10ypru7{position:absolute;box-sizing:border-box;padding:0;margin:0;width:100%;height:auto;top:74px;bottom:74px;overflow:auto}#banner_container.svelte-10ypru7.svelte-10ypru7{position:absolute;box-sizing:border-box;padding:0;margin:0;width:240px;height:400px;left:-100%;right:-100%;margin-left:auto;margin-right:auto;top:-100%;bottom:-100%;margin-top:auto;margin-bottom:auto;background-color:#ffffff;touch-action:none;resize:both;overflow:hidden;box-shadow:0 0 10px rgba(0,0,0,0.2)}#banner.svelte-10ypru7.svelte-10ypru7{position:absolute;box-sizing:border-box;width:100%;height:100%;overflow:hidden;left:0;right:0;top:0;bottom:0;margin:auto;opacity:1}input[type=button].svelte-10ypru7.svelte-10ypru7{width:auto;min-width:30px;height:30px;padding:5px 5px;margin-right:5px;background-color:#ffffff;border:1px solid #379683;border-radius:4px;font-family:sans-serif;font-size:15px;float:none}input[type=number].svelte-10ypru7.svelte-10ypru7{margin:5px 0px}.widget.fill.svelte-10ypru7.svelte-10ypru7{flex-grow:1}input[type=range].svelte-10ypru7.svelte-10ypru7{margin:10px 0px;width:100%}select.svelte-10ypru7.svelte-10ypru7{margin:5px 0px}#control.svelte-10ypru7.svelte-10ypru7{position:absolute;box-sizing:border-box;margin:0;width:300px;height:100%;left:auto;right:0;background-color:#ffffff;border-left:1px solid #cccccc}#control_page.svelte-10ypru7.svelte-10ypru7{position:absolute;box-sizing:border-box;margin:0;width:300px;height:auto;top:48px;bottom:0;overflow:auto}#overlay.svelte-10ypru7.svelte-10ypru7{position:fixed;box-sizing:border-box;width:100%;height:100%;margin:0;padding:0;text-align:center;display:flex;align-items:center;justify-content:center}#overlay-bg.svelte-10ypru7.svelte-10ypru7{position:fixed;box-sizing:border-box;width:100%;height:100%;background-color:#000000;opacity:0.6}#preloader.svelte-10ypru7.svelte-10ypru7{position:fixed;width:10vh;height:auto;left:-100%;right:-100%;margin-left:auto;margin-right:auto;top:-100%;bottom:-100%;margin-top:auto;margin-bottom:auto}#fallback.svelte-10ypru7.svelte-10ypru7,#video.svelte-10ypru7.svelte-10ypru7{position:fixed;box-sizing:border-box;margin:0;padding:0;width:auto;height:auto;max-width:100%;max-height:100%;left:-100%;right:-100%;margin-left:auto;margin-right:auto;top:-100%;bottom:-100%;margin-top:auto;margin-bottom:auto}#build.svelte-10ypru7.svelte-10ypru7{display:inline-block;position:relative;box-sizing:border-box;padding:15px;width:auto;height:auto;min-width:300px;max-width:75%;max-height:50%;overflow-y:auto;font-family:sans-serif;font-size:16px;text-align:center;line-height:1.8em;color:#ffffff;background-color:#ffffff;border:5px solid #5fccb6;border-radius:10px}#build.svelte-10ypru7 a.svelte-10ypru7{color:#5fccb6}#build_messages.svelte-10ypru7.svelte-10ypru7{text-align:left;margin-top:10px}#build_messages.svelte-10ypru7 p.svelte-10ypru7{font-size:14px;line-height:1.3em;color:#ff0000}#tool_frame_container.svelte-10ypru7.svelte-10ypru7{position:fixed;box-sizing:border-box;margin:0;padding:0;overflow:hidden;width:95%;max-width:1440px;left:-100%;right:-100%;margin-left:auto;margin-right:auto;height:auto;top:100px;bottom:100px;border:5px solid #5fccb6;border-radius:10px}#tool_frame.svelte-10ypru7.svelte-10ypru7{position:absolute;box-sizing:border-box;width:100%;height:100%;left:0;right:0;top:0;bottom:0;margin:auto;opacity:1;overflow-x:hidden;overflow-y:auto}#close.svelte-10ypru7.svelte-10ypru7{position:fixed;width:32px;height:32px;left:auto;right:20px;top:20px;cursor:pointer}#close-bg.svelte-10ypru7.svelte-10ypru7{width:100%;height:100%}input[type=number] {
	height: 30px;
	max-width: 80px;
	padding: 0px 5px;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 15px;
}
input[type=number]:focus {
	outline: none;
	border-color: #379683;
}
input[type=number]:disabled {
	border: 1px solid #dddddd;
	pointer-events: none;
}

input[type=text] {
	height: 30px;
	width: 380px;
	padding: 0px 5px;
	margin: 5px 0px;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 15px;
}
input[type=text]:focus {
	outline: none;
	border-color: #379683;
}
input[type=text]:disabled {
	border: 1px solid #dddddd;
	pointer-events: none;
}

textarea {
	width: 380px;
	padding: 5px 5px;
	margin: 5px 0px;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 15px;
}
textarea:focus {
	outline: none;
	border-color: #379683;
}
textarea:disabled {
	border: 1px solid #dddddd;
	pointer-events: none;
}

select {
	height: 30px;
	width: auto;
	padding: 0px 5px;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 15px;
}
select:focus {
	outline: none;
	border-color: #379683;
}
select:disabled {
	border: 1px solid #dddddd;
	pointer-events: none;
}

input[type=button] {
	width: auto;
	min-width: 40px;
	height: 35px;
	padding: 5px 5px;
	margin-right: 5px;
	background-color: #ffffff;
	border: 1px solid #379683;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 15px;
	float: left;
}
input[type=button]:hover {
	background-color: #edf5e1;
	cursor: pointer;
}
input[type=button]:disabled {
	border: 1px solid #dddddd;
	pointer-events: none;
}

input[type=color] {
	height: 30px;
	width: 70px;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 15px;
}
input[type=color]:focus {
	outline: none;
	border-color: #379683;
}
input[type=color]:disabled {
	border: 1px solid #dddddd;
	pointer-events: none;
}

p {
	color: #777777;
	font-size: 12px;
	margin: 0;
}

hr {
	border: none;
	height: 1px;
	color: #dddddd; /* old IE */
	background-color: #dddddd; /* Modern Browsers */
}

fieldset {
	border: 1px solid #dddddd;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 15px;
	padding: 10px;
}

.row {
	display: flex;
	flex-direction: row;
	gap: 15px;
}
main.svelte-1fd4ssk{position:absolute;box-sizing:border-box;padding:10px;margin:0;width:100%;height:100%}.section.svelte-1fd4ssk{margin-top:15px;margin-bottom:20px}input[type=text].svelte-1fd4ssk{margin-top:5px;margin-bottom:10px}select.svelte-1fd4ssk{margin-top:5px;margin-bottom:10px}main.svelte-10z5nmq{position:absolute;box-sizing:border-box;padding:10px;margin:0;width:100%;height:100%}.section.svelte-10z5nmq{margin-top:15px;margin-bottom:20px}main.svelte-1thg375.svelte-1thg375{position:absolute;box-sizing:border-box;padding:0;margin:0;width:100%;height:48px}.tabs.svelte-1thg375.svelte-1thg375{position:absolute;box-sizing:border-box;margin:0;width:100%;height:48px;background-color:#eeeeee}.tabs.svelte-1thg375 .tab.svelte-1thg375{box-sizing:border-box;float:left;margin:0;width:48px;height:48px;cursor:pointer;background-color:#eeeeee;font-size:25px;text-align:center;padding-top:5px;user-select:none}.tabs.svelte-1thg375 .tab.active.svelte-1thg375{background-color:#ffffff;border-top:2px solid #379683}.tabs.svelte-1thg375 .tab.svelte-1thg375:hover{background-color:#ffffff}main.svelte-1whc5st{position:absolute;box-sizing:border-box;padding:10px;margin:0;width:100%;height:100%}.section.svelte-1whc5st{margin-top:15px;margin-bottom:20px}select.svelte-1whc5st{margin-top:5px;margin-bottom:10px}input[type=text].svelte-1whc5st{margin-top:5px;margin-bottom:10px}input[type=number].svelte-1whc5st{margin-top:5px;margin-bottom:10px}input[type=checkbox].svelte-1whc5st{margin-top:5px;margin-bottom:15px}main.svelte-10z5nmq{position:absolute;box-sizing:border-box;padding:10px;margin:0;width:100%;height:100%}.section.svelte-10z5nmq{margin-top:15px;margin-bottom:20px}