#rect {
	animation-name: animation8;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

@keyframes animation8 {
    0% { opacity: 0; }
    33% { opacity: 1; }
    66% { opacity: 1; }
    100% { opacity: 0; }
}

