main.svelte-as12gw{padding:10px;margin:0}#images.svelte-as12gw{margin-bottom:20px}.image.svelte-as12gw{margin-top:15px;margin-bottom:10px}fieldset.svelte-as12gw{border:1px solid #cccccc;border-radius:4px;font-family:sans-serif;font-size:15px;padding:10px}.thumb.svelte-as12gw{position:relative;width:50px;height:50px;border:1px solid #379683;border-radius:4px;overflow:hidden}.thumb.svelte-as12gw:hover{background-color:#edf5e1;cursor:pointer}.thumb_image.svelte-as12gw{position:absolute;width:auto;height:90%;left:-100%;right:-100%;margin-left:auto;margin-right:auto;top:-100%;bottom:-100%;margin-top:auto;margin-bottom:auto}input[type=text] {
	height: 30px;
	width: 380px;
	padding: 0px 5px;
	margin: 5px 0px;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 15px;
}
input[type=text]:focus {
	outline: none;
	border-color: #379683;
}
input[type=text]:disabled {
	border: 1px solid #dddddd;
	pointer-events: none;
}

textarea {
	width: 380px;
	padding: 5px 5px;
	margin: 5px 0px;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 15px;
}
textarea:focus {
	outline: none;
	border-color: #379683;
}
textarea:disabled {
	border: 1px solid #dddddd;
	pointer-events: none;
}

input[type=button] {
	width: auto;
	min-width: 40px;
	height: 35px;
	padding: 5px 5px;
	background-color: #fff;
	border: 1px solid #379683;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 15px;
}
input[type=button]:hover {
	background-color: #edf5e1;
	cursor: pointer;
}
input[type=button]:disabled {
	border: 1px solid #dddddd;
	pointer-events: none;
}
