main.svelte-1kth1ek{padding:0;margin:0;width:100%;height:100%}#ui.svelte-1kth1ek{position:absolute;padding:10px;margin:0;width:95%;max-width:1280px;left:-100%;right:-100%;margin-left:auto;margin-right:auto}#images.svelte-1kth1ek{margin-bottom:20px}.image.svelte-1kth1ek{margin-top:15px;margin-bottom:10px}#overlay.svelte-1kth1ek{position:absolute;width:100%;height:100%;margin:0;padding:0}#overlay-bg.svelte-1kth1ek{position:fixed;width:100%;height:100%;background-color:#000000;opacity:0.6}#preloader.svelte-1kth1ek{position:absolute;width:10vh;height:auto;left:-100%;right:-100%;margin-left:auto;margin-right:auto;top:-100%;bottom:-100%;margin-top:auto;margin-bottom:auto}#error.svelte-1kth1ek{position:absolute;width:80%;max-width:400px;left:-100%;right:-100%;margin-left:auto;margin-right:auto;top:50%;transform:translateY(-50%);font-family:sans-serif;font-size:18px;text-align:center;color:#ffffff}#close.svelte-1kth1ek{position:absolute;width:32px;height:32px;left:auto;right:20px;top:20px;cursor:pointer}#close-bg.svelte-1kth1ek{width:100%;height:100%}input[type=number] {
	height: 30px;
	max-width: 80px;
	padding: 0px 5px;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 15px;
}
input[type=number]:focus {
	outline: none;
	border-color: #379683;
}
input[type=number]:disabled {
	border: 1px solid #dddddd;
	pointer-events: none;
}

input[type=text] {
	height: 30px;
	width: 380px;
	padding: 0px 5px;
	margin: 5px 0px;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 15px;
}
input[type=text]:focus {
	outline: none;
	border-color: #379683;
}
input[type=text]:disabled {
	border: 1px solid #dddddd;
	pointer-events: none;
}

textarea {
	width: 380px;
	padding: 5px 5px;
	margin: 5px 0px;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 15px;
}
textarea:focus {
	outline: none;
	border-color: #379683;
}
textarea:disabled {
	border: 1px solid #dddddd;
	pointer-events: none;
}

select {
	height: 30px;
	width: auto;
	padding: 0px 5px;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 15px;
}
select:focus {
	outline: none;
	border-color: #379683;
}
select:disabled {
	border: 1px solid #dddddd;
	pointer-events: none;
}

input[type=button] {
	width: auto;
	min-width: 40px;
	height: 35px;
	padding: 5px 5px;
	margin-right: 5px;
	background-color: #ffffff;
	border: 1px solid #379683;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 15px;
	float: left;
}
input[type=button]:hover {
	background-color: #edf5e1;
	cursor: pointer;
}
input[type=button]:disabled {
	border: 1px solid #dddddd;
	pointer-events: none;
}

input[type=color] {
	height: 30px;
	width: 70px;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 15px;
}
input[type=color]:focus {
	outline: none;
	border-color: #379683;
}
input[type=color]:disabled {
	border: 1px solid #dddddd;
	pointer-events: none;
}

p {
	color: #777777;
	font-size: 12px;
	margin: 0;
}

hr {
	border: none;
	height: 1px;
	color: #dddddd; /* old IE */
	background-color: #dddddd; /* Modern Browsers */
}

fieldset {
	border: 1px solid #dddddd;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 15px;
	padding: 10px;
}

.row {
	display: flex;
	flex-direction: row;
	gap: 15px;
}
main.svelte-1n8n1g{padding:0;margin:0}.widget.svelte-1n8n1g{display:none}.pngOnly.svelte-1n8n1g,.jpgOnly.svelte-1n8n1g,.svgOnly.svelte-1n8n1g,.webpOnly.svelte-1n8n1g,.anyFormat.svelte-1n8n1g{display:block !important}.thumb.svelte-1n8n1g{position:relative;width:50px;height:50px;padding:0;border:1px solid #379683;border-radius:4px;overflow:hidden}.thumb.svelte-1n8n1g:hover{background-color:#edf5e1;cursor:pointer}.thumb_image.svelte-1n8n1g{position:absolute;margin:0;width:auto;height:90%;left:-100%;right:-100%;margin-left:auto;margin-right:auto;top:-100%;bottom:-100%;margin-top:auto;margin-bottom:auto}input[type=text].svelte-1n8n1g{max-width:80px}input[type=range].svelte-1n8n1g{flex:auto;min-width:200px}input[type=checkbox].svelte-1n8n1g{margin-right:5px}input[type=number].svelte-1n8n1g{max-width:60px}.color-picker.svelte-13e08g1.svelte-13e08g1{display:inline-block;position:relative}.color-picker-handle.svelte-13e08g1.svelte-13e08g1{border:1px solid #666;border-radius:5px;cursor:pointer}.color-picker-background.svelte-13e08g1.svelte-13e08g1{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0, 0, 0, 0.2);z-index:9999999}.color-picker.collapse.svelte-13e08g1 .color-picker-controls.svelte-13e08g1{position:absolute;top:-5px;left:-5px;border:1px solid #666;border-radius:5px;box-shadow:2px 2px 5px 0px rgba(0,0,0,0.4);padding:5px;z-index:100000000}.color-picker.collapse.svelte-13e08g1 .color-picker-controls.collapsed.svelte-13e08g1{display:none}.tab-bar.svelte-13e08g1.svelte-13e08g1{display:flex;height:30px;line-height:30px}.tab.svelte-13e08g1.svelte-13e08g1{margin:0 5px;padding:0 3px;border-bottom:1px solid #aaa;cursor:pointer;text-transform:uppercase;font-weight:bold}.tab.active.svelte-13e08g1.svelte-13e08g1{border-bottom-width:3px}.group.svelte-13e08g1.svelte-13e08g1{margin:5px 0 0 0}.slider.svelte-13e08g1.svelte-13e08g1,.text.svelte-13e08g1.svelte-13e08g1{display:flex;align-items:center}label.svelte-13e08g1.svelte-13e08g1{display:inline;vertical-align:middle;margin:0}.slider.svelte-13e08g1 label.svelte-13e08g1{padding:0 5px 0 0;width:20px}.text.svelte-13e08g1 label.svelte-13e08g1{padding:0 5px 0 0;width:45px;text-align:right}input[type=radio].svelte-13e08g1.svelte-13e08g1{display:inline-block;margin:0 5px 0 0;width:20px}.scrollbar.svelte-hpdzxt,canvas.svelte-hpdzxt{display:inline-block;padding:0;margin:0;line-height:0}canvas.svelte-hpdzxt{border:1px solid #000;border-radius:2px;cursor:col-resize}.matrix.svelte-1yequwm,canvas.svelte-1yequwm{display:inline-block;padding:0;margin:0;line-height:0}canvas.svelte-1yequwm{border:1px solid #666;border-radius:5px;cursor:crosshair}input[type=number].svelte-1s5g5ru{display:inline-block;margin:0 0 0 5px;padding:5px 0 5px 5px;width:60px;height:30px}input.svelte-12fjc37{font-family:monospace;font-size:120%;margin:0;padding:5px}.main-container.svelte-8esefu{width:240px;height:265px;background:#f2f2f2;border-radius:1px;-webkit-box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.51);-moz-box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.51);box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.51);-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.saturation-gradient.svelte-8esefu{background:linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));width:240px;height:160px}.value-gradient.svelte-8esefu{background:linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));overflow:hidden;width:240px;height:160px}.hue-selector.svelte-8esefu{background:linear-gradient(to right, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);margin:15px 10px 10px 10px;border-radius:10px;height:10px}#hue-picker.svelte-8esefu{background:#FFF;width:12px;height:12px;border-radius:50%;left:0%;position:relative;cursor:default;transform:translate(-5px, -1px);-webkit-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.67);-moz-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.67);box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.67)}#hue-event.svelte-8esefu{width:236px;height:14px;transform:translate(-8px, -14px);cursor:default;touch-action:none}.alpha-selector.svelte-8esefu{background-image:linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);background-size:10px 10px;background-position:0 0, 0 5px, 5px -5px, -5px 0px;margin:10px 10px;border-radius:10px;height:10px;position:relative}#alpha-picker.svelte-8esefu{background:#FFF;width:12px;height:12px;border-radius:50%;left:100%;position:relative;cursor:default;transform:translate(-5px, -11px);-webkit-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.67);-moz-box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.67);box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.67)}#alpha-event.svelte-8esefu{width:236px;height:14px;transform:translate(-8px, -24px);cursor:default;touch-action:none}.alpha-value.svelte-8esefu{background:linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));width:100%;height:100%;border-radius:10px}.colorsquare.svelte-8esefu{background:rgb(255, 0, 0)}#colorsquare-picker.svelte-8esefu{margin:0;padding:0;width:12px;height:12px;border-radius:50%;border:2px solid #FFFB;position:relative;transform:translate(-9px, -9px);left:100%}#colorsquare-event.svelte-8esefu{width:100%;height:100%;position:relative;transform:translate(0, -16px);touch-action:none}.color-info-box.svelte-8esefu{margin:10px;width:100%;height:22px;vertical-align:middle;position:relative}.color-picked.svelte-8esefu{width:18px;height:18px;border-radius:2px;background:rgba(255, 0, 0, 1);display:inline-block}.color-picked-bg.svelte-8esefu{background-image:linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);background-size:10px 10px;background-position:0 0, 0 5px, 5px -5px, -5px 0px;border:2px solid #FFF;border-radius:4px;width:18px;height:18px;color:#fff;display:inline-block}.hex-text-block.svelte-8esefu{display:inline-block;background:white;border-radius:2px;padding:2px;border:1px solid #e3e3e3;height:16px;width:54px;vertical-align:top;text-align:center}.rgb-text-block.svelte-8esefu{display:inline-block;background:white;border-radius:2px;padding:2px;margin:0 1px;border:1px solid #dcdcdc;height:16px;width:23px;vertical-align:top;text-align:center}.rgb-text-div.svelte-8esefu{right:10%;display:inline-block;vertical-align:top;position:absolute}.text-label.svelte-8esefu{position:relative;top:-12px;font-family:sans-serif;font-size:small;color:#888}.text.svelte-8esefu{display:inline;font-family:sans-serif;margin:0;display:inline-block;font-size:12px;font-size-adjust:0.50;position:relative;top:-1px;vertical-align:middle;-webkit-touch-callout:all;-webkit-user-select:all;-khtml-user-select:all;-moz-user-select:all;-ms-user-select:all;user-select:all}