#t1 {
	animation-name: animation0;
	animation-duration: 12s;
	animation-iteration-count: infinite;
}

@keyframes animation0 {
    0% { opacity: 0; }
    4% { opacity: 1; }
    20% { opacity: 1; }
    25% { opacity: 0; }
    95% { opacity: 0; }
    100% { opacity: 0; }
}

#t2 {
	animation-name: animation1;
	animation-duration: 12s;
	animation-iteration-count: infinite;
}

@keyframes animation1 {
    0% { opacity: 0; }
    25% { opacity: 0; }
    29% { opacity: 1; }
    45% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

#t3 {
	animation-name: animation2;
	animation-duration: 12s;
	animation-iteration-count: infinite;
}

@keyframes animation2 {
    0% { opacity: 0; }
    50% { opacity: 0; }
    54% { opacity: 1; }
    70% { opacity: 1; }
    75% { opacity: 0; }
    100% { opacity: 0; }
}

#t4 {
	animation-name: animation3;
	animation-duration: 12s;
	animation-iteration-count: infinite;
}

@keyframes animation3 {
    0% { opacity: 0; }
    75% { opacity: 0; }
    79% { opacity: 1; }
    95% { opacity: 1; }
    100% { opacity: 0; }
}

