input[type=number] {
	height: 30px;
	max-width: 80px;
	padding: 0px 5px;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 15px;
}
input[type=number]:focus {
	outline: none;
	border-color: #379683;
}
input[type=number]:disabled {
	border: 1px solid #dddddd;
	pointer-events: none;
}

input[type=text] {
	height: 30px;
	width: 380px;
	padding: 0px 5px;
	margin: 5px 0px;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 15px;
}
input[type=text]:focus {
	outline: none;
	border-color: #379683;
}
input[type=text]:disabled {
	border: 1px solid #dddddd;
	pointer-events: none;
}

textarea {
	width: 380px;
	padding: 5px 5px;
	margin: 5px 0px;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 15px;
}
textarea:focus {
	outline: none;
	border-color: #379683;
}
textarea:disabled {
	border: 1px solid #dddddd;
	pointer-events: none;
}

select {
	height: 30px;
	width: auto;
	padding: 0px 5px;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 15px;
}
select:focus {
	outline: none;
	border-color: #379683;
}
select:disabled {
	border: 1px solid #dddddd;
	pointer-events: none;
}

input[type=button] {
	width: auto;
	min-width: 40px;
	height: 35px;
	padding: 5px 5px;
	margin-right: 5px;
	background-color: #ffffff;
	border: 1px solid #379683;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 15px;
	float: left;
}
input[type=button]:hover {
	background-color: #edf5e1;
	cursor: pointer;
}
input[type=button]:disabled {
	border: 1px solid #dddddd;
	pointer-events: none;
}

p {
	color: #777777;
	font-size: 12px;
	margin: 0;
}

hr {
	border: none;
	height: 1px;
	color: #dddddd; /* old IE */
	background-color: #dddddd; /* Modern Browsers */
}

fieldset {
	border: 1px solid #dddddd;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 15px;
	padding: 10px;
}

.row {
	display: flex;
	flex-direction: row;
	gap: 15px;
}
