@import "std"

$primary-color: #ffff00

#banner, #link
  width: 300px
  height: 300px

#banner
  background-color: $primary-color

.rect
  width: 30px
  height: 30px

#rect
  @include center-h
  transform-origin: "center center"

#t1
  font-family: "Roboto_Bold"
  font-size: 17px
  padding: 10px

#rect2
  width: 100px
  height: 100px
  background-color: #ff0000
