#rect {
	animation-name: animation10;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

@keyframes animation10 {
	0% { opacity: 0; }
	33% { opacity: 1; }
	66% { opacity: 1; }
	100% { opacity: 0; }
}

